<form method="post">
    uid:<br>
    <input type="text" name="uid">
    <br>
    password:<br>
    <input type="text" name="password">
    <br>
    <br>
    <input type="submit" value="Submit">
    <br>
<br>
</form>