<form method="post">
    name:<br>
    <input type="text" name="name">
    <br>
    password:<br>
    <input type="text" name="password">
    <br>
    uid:<br>
    <input type="text" name="uid">
    <br>
    birthday:<br>
    <input type="text" name="birthday">
    <br>
    gender:<br>
    <input type="text" name="gender">
    <br>
    <br>
    <input type="submit" value="Submit">
    <br><br>
</form>